.feed {
    padding-bottom: 48px;
    &-item {
        display: flex;
        margin-top: 60px;
        &__img {
            width: 169px;
            height: 169px;
            margin-right: 60px;
        }
        &__content {
            display: flex;
            flex-direction: column;
        }
        &__title {
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #0d0d0d;
        }
        &__subtitle {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #646464;
        }
        &__descr {
            margin-top: 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #0d0d0d;
        }
    }
}

@media (max-width: 767px) {
    .feed {
        &-item {
            margin-top: 40px;
            &__img {
                width: 120px;
                height: 120px;
                margin-right: 20px;
            }
            &__descr {
                margin-top: 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}

@media (max-width: 576px) {
    .feed {
        &-item {
            margin-top: 30px;
            &__img {
                width: 80px;
                height: 80px;
                margin-right: 20px;
            }
            &__descr {
                margin-top: 4px;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}

@media (max-width: 576px) {
    .feed {
        &-item {
            &__img {
                margin-right: 12px;
            }
            &__descr {
            }
        }
    }
}
