.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url("../../img/1-section/bg.png");
    &__wrapper {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        text-align: right;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__subheadder {
        margin-top: 8px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-align: right;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        margin-top: 50px;
        width: 136px;
        height: 100px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #ffffff;
        img {
            display: block;
            margin: 0 auto;
            width: 40px;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        text-align: right;
        color: #ffffff;
        a {
            color: #ffffff;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}
