.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #0d0d0d;
    text-transform: uppercase;
    &_left {
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-transform: uppercase;
        color: #ffffff;
    }
}

@media (max-width: 767px) {
    .title_center_md {
        text-align: center;
    }
}
